@media(min-width: 768px){
	.navbar-default {max-width: 645px;}
	.navbar-nav{display:-ms-flexbox; display: flex; justify-content: space-between; padding-left: 30px;}
	.navbar-collapse {display: block;height: auto!important;}
	.menu-trigger {display: none;}
}
@media(min-width: 992px){
}
@media(max-width: 1500px){
	.slick-prev {left: -80px;}
	.slick-next {right: -80px;}
	.s-intro {padding: 160px 0 150px;}
}
@media(max-width: 1366px){
	.top {padding: 44px 0;}
	.s-intro {padding: 117px 0 88px;}
	.intro__slider .slick-dots{padding: 28px 70px;}
}
@media(max-width: 1200px){
	.slick-prev {left: -40px;}
	.slick-next {right: -40px;}
	.h1 {font-size: 3em;}
	.h2{font-size: 1.5em;padding-bottom: .4em;}
	.subtitle {font-size: 1.5em;padding-top: .2em;}
	.intro__pict{max-width: 260px;}
	.intro__descr p{font-size: 1em;}
	.intro__slider .intro__slide{margin: 0 15px;}
	.s-intro{min-height: auto;}
	.intro__decor {background-position: center 67%;}
	.about__icon{width: 50px; height: 46px;}
	.product__logo{max-width: 130px;padding-top: 0.2em; padding-bottom: 1em;}
}
@media (max-width: 1090px){
	.intro__wrap {padding: 0 15px;}
	.slick-prev {left: -10px;}
	.slick-next {right: -10px;}
	.intro__slider .intro__slide {margin: 0 22px;}
	.intro__descr{padding: 25px; max-width: 364px;}
	.intro__pict{padding: 0 15px;}
}
@media (max-width: 991px){
	.s-blog {padding: 74px 0 25px;}
	.s-about {padding: 60px 0 49px;}
	.s-product{padding: 63px 0 20px;}
	.intro__descr-text {
		max-height: 102px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	.blog__text:after{content: none;}
}
@media (max-width: 969px){
	.top {padding: 53px 0;}
	.navbar-default {min-width: 90%;width: auto;}
	.navbar-nav{padding: 30px 0;}
	.s-intro {padding: 177px 0 88px;}
	.blog__text {margin: 0 3px 16px -38px; padding: 0 20px 0 31px;}
	.s-footer{padding: 36px 0 50px;}
	.footer__nav{flex-grow: .5}
	.footer__develop{min-width: 100%;text-align: right;padding-top: 10px;}
}
@media (max-width: 767px){
	.top .container{display: block;}
	.intro__slider{max-width: 560px;margin: auto;}
	.blog__slider {margin-bottom: 61px;}
	.navbar-toggle{display: block;float: none;}
	.s-about .container, .s-blog .container,.s-product .container,.s-brands .container{max-width: 486px;}
	.s-product [class^=col]{max-width: 100%;}
	.s-brands [class^=col]{margin-bottom: 26px;}
	.menu-trigger {position: absolute; top: 5px;left: 50%;transform: translateX(-50%);padding: 3px;line-height: 1.3;}
	.menu-trigger:before{opacity: 1;}
	.menu-trigger[aria-expanded=true]{color: transparent;transition: .1s}
	.menu-trigger[aria-expanded=true]:before{opacity: 0;}
	.navbar-default{position: relative; margin: 20px auto 0;width: 100%;min-width: auto;max-width: 244px;}
	.navbar-collapse{box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); border: 1px solid #051116; background-color: rgba(54,41,62,.9);padding: 0;border-radius: .4em;}
	.navbar-nav{padding: 0;overflow: hidden;}
	.navbar-nav li:not(:last-child) {box-shadow: inset 0 -1px 0 rgba(105,82,114,.59);}
	a.nav__link{width: 100%;padding: 8px;text-align: center;}
	a.nav__link:hover,a.nav__link:active{background-color: rgba(0,0,0,.3);}
	.s-brands {padding: 29px 0 0;}
	.intro__pict {max-width: 220px;}
	.intro__link--play:after {left: 44%; top: 33%;}
	.intro__descr-text{display: none;}
	.footer__nav{margin: auto;}
	.footer__develop{text-align: center;padding-top: 25px;}
	.intro__slider .slick-dots{text-align: center;}
	.top .container{justify-content: center;}
	.logo{text-align: center;}
	.intro__wrap:before{bottom: 55px;}
	.s-intro {padding: 160px 0 60px;}
	.intro__slider .slick-dots{padding: 0;top: auto;bottom: 10px;}
	.h1 {font-size: 2.6em;}
	.subtitle {font-size: 1.1em;}
	.intro__decor {background-position: center 57%;}
	.link__more{padding-right: 5px;}
}
@media (max-width: 590px){
	.intro__pict {max-width: 190px;}
	.intro__link--play:after{left: 46%;width: 60px;height: 60px;}
}
@media (max-width: 550px){
	.top {padding: 46px 0;}
	.h1 {font-size: 2.1em;}
	.subtitle {font-size: 1em;}
	.intro__descr {padding: 15px;}
	.intro__slider .intro__slide {margin: 0px 10px;}
	.slick-next, .slick-prev {width: 34px; height: 34px;}
	.slick-next {right: -13px;}
	.slick-prev {left: -13px;}
	.about__icon {width: 39px; height: 40px;}
}
@media (max-width: 479px){
	.intro__slider {padding: 20px 0;margin-bottom: 20px;}
	.intro__pict{display: none;}
	.intro__wrap:before{content: none;}
	.intro__slider .intro__slide{justify-content: center;}
	.intro__slider .slick-dots{bottom: -30px;}
	.intro__descr{text-align: center;}
	.footer__nav{display: none;}
	.footer__develop{padding: 30px 0;}
}