:root {
   --accent-color: #edbfff;
   --gr: linear-gradient(to top, #322539 0%, #745083 100%);
   --font-family: 'League Gothic';
}
@font-face {
  font-family:'League Gothic';
  src: local('League Gothic'), local('League Gothic'), url('../fonts/league-gothic.regular.woff2') format('woff2'), url('../fonts/LeagueGothic-Regular.woff') format('woff');
  font-weight: 400;
}
::selection {background: #007941;color: #fff}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bbb; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #e6e6e6;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 15px}

body {
	position: relative;
	color: #454545;
	font: 16px 'Open Sans', sans-serif;
	line-height: 1.5;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
p {padding-bottom: 1em;}

.h1 {
	display: block;
	font-family: var(--font-family);
	font-size: 3.8em;
	font-weight: 400;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	line-height: .84;
}
.subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	color: var(--accent-color);
	font-family: var(--font-family);
	display: block;
	padding-bottom: .1em;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.h2 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 2em;
	padding-bottom: .3em;
	letter-spacing: -.02em;
	line-height: 1.2;
	text-transform: uppercase;
}
.h3 {
	font-weight: 700;
	font-size: 1em;
	line-height: 1.3;
	padding-bottom: .3em;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 990px;
}

/*=====================
	Header
======================*/
.top {
	position: absolute;
	left: 0;
	z-index: 9;
	width: 100%;
	padding: 70px 0;
}
.top .container {
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo{
	flex-shrink: 0;
}
.logo__link{
	display: inline-block;
	width: 151px;
}

.logo img {width: 100%}

.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999;}

.navbar-collapse{padding: 0;}

.navbar-nav li {
	display:block;
	text-align:center
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2;}

a.nav__link,.menu-trigger {
	position: relative;
	display: inline-block;
	font-family: var(--font-family);
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
	padding: 4px;
	font-size: 1.5em;
	text-align: left;
	transition: .3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a.nav__link:hover{opacity: .8;}

a.nav__link:before,.menu-trigger:before {
	content: ''; 
	position: absolute; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #edbfff;
	background-color: var(--accent-color);
	opacity: 0;
	transition: .3s;
}
a.nav__link:hover:before{opacity: 1;}

/*==========================
	intro-section
===========================*/
.s-intro {
	padding: 250px 0 160px;
	min-height: 80vh;
	color: #fff;
}
.intro__decor {
	position: absolute;
	top: -30px;
	height: calc(100% + 60px);
	width: calc(100% + 60px);
	right: -30px;
	background-repeat: no-repeat;
	background-position: center bottom;
	z-index: -1;
	transform: translate(0,0);
}
.intro__wrap {
	position: relative;
}
.intro__wrap:before {
	content: ''; 
	position: absolute; 
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.2);
	z-index: -1;
}
.intro__slider {
	max-width: 960px;
	margin: auto;
}
.intro__slider .intro__slide {
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 4px;
}
.intro__descr {
	max-width: 526px;
	padding-right: 20px;
}
.intro__descr p {font-size: 1.13em;}

.intro__pict {flex-shrink: 0}

.slick-dots li{margin: 0 3px;}

.intro__slider .slick-dots {
	text-align: right;
	bottom: auto;
	top: 100%;
	padding: 56px;
}
.slick-dots li button {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-moz-appearance: none;
	appearance: none;
}
.slick-dots li button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
	transition: .3s;
}
.slick-dots :not(.slick-active) button:before{opacity: 0;}

.intro__slider .slick-dots li button{
	background-color: rgba(2,2,2,.3);
}
.intro__slider .slick-dots li button:before {
	background-image: linear-gradient(to top, #dcdcdc 0%, #f5f5f5 100%);
}
.slick-next, .slick-prev {
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.slick-next {
	right: -250px;
	background-image: url(../img/right.png)
}
.slick-prev {
	left: -250px;
	background-image: url(../img/left.png)
}
.slick-next:before, .slick-prev:before {content: none;}

.intro__link--play {
	display: block;
	position: relative;
}
.intro__link--play:after {
	content: ''; 
	position: absolute; 
	left: 50%;
	top: 36%;
	width: 76px;
	height: 76px;
	background: url(../img/play.png) center no-repeat; 
	background-size: cover;
}

/*=================
	ABOUT 
================*/
.s-about {
	padding: 74px 0 52px;
	background-image: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	box-shadow: 0 20px 20px -8px rgba(9,9,9,.2)
}
.s-about p {
	text-shadow: 1px 1px 0 #0f1518;
}
.about__item {
	display:-ms-flexbox; 
	display: flex;
}
.about__icon {
	display: inline-block;
	width: 53px;
	height: 58px;
	margin-right: 9px;
	margin-left: -6px;
	flex-shrink: 0;
	background-position: center;
	background-repeat: no-repeat;
}
.link__more {
	color: inherit;
	display: block;
	padding: 2px;
	float: right;
	text-align: right;
	font-family: var(--font-family);
	font-size: 1.13em;
	text-transform: uppercase;
	letter-spacing: .02em;
}
.link__more:hover {
	color: var(--accent-color);
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
.s-about .link__more{text-shadow: 1px 1px 0 #0f1518;}

.s-about .link__more:hover{
	color: #fff;
	text-shadow: 0 0 8px rgba(255,255,255,.9), 1px 1px 0 #0f1518;
}
/*================
	blog
================*/
.s-blog {padding: 120px 0 80px;}

.s-blog .blog__slide {
	display:-ms-flexbox; 
	display: flex;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.blog__ava {
	width: 49px;
	height: 49px;
	box-shadow: 1px 2px 0 #fff, inset 1px 2px 5px rgba(0,0,0,.3);
	border-radius: 50%;
	flex-shrink: 0;
	margin-right: 19px;
}
.blog__text{
	position: relative;
	padding: 0 20px 0 40px;
	margin: 0 5px 30px -40px;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.05);
}
.blog__text:before,.blog__text:after {
	content: ''; 
	position: absolute;
	pointer-events: none;
}
.blog__text:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.blog__text:after {
   filter: drop-shadow(1px 5px 5px rgba(0,0,0,.1));
	top: calc(100% - 1px);
	right: 10%;
	border-right: 12px solid #fff;
	border-top: 11px solid #fff;
	border-left: 12px solid transparent;
	border-bottom: 11px solid transparent;
}
.is-accent {color: var(--accent-color);}

.resent__list {
	list-style: none;
	padding-top: 10px;
}
.resent__list-item {
	display:-ms-flexbox; 
	display: flex;
	padding-bottom: .2em;
}
.s-blog .slick-dots li button {border: 1px solid #e4e4e4;}
/*====================
	brands
====================*/
.s-brands {
	padding: 12px 0;
	border-top: 1px solid #eee;		
}
.s-brands [class^=col]{
	text-align: center;
	margin-bottom: 12px;
}
/*====================
	s-product
====================*/
.s-product {
	background-color: #ececec;
	padding: 95px 0 43px;
	box-shadow: inset 0 10px 20px -8px rgba(9,9,9,.05);
}
.s-product [class^=col]{
	margin-bottom: 25px;
	max-width: 324px;
}
.s-product [class^=col] p,.s-product [class^=col] ul{
	text-shadow: 1px 1px 0 #fff;
	color: #787878;
}
.product__logo {
	display: block;
	padding-top: .3em;
	padding-bottom: 1.1em;
}
.copy {
	display: block;
	text-shadow: 1px 1px 0 #fff;
	color: #c5c5c5;
	padding-bottom: .8em;
}
/*====================
	footer
====================*/
.s-footer {
	padding: 36px 0;
	background: url(../img/footer-bg.jpg) center no-repeat; 
	background-size: cover;
	color: #fff;
	box-shadow: 1px 2px 0 #fff, inset 1px 2px 5px rgba(0,0,0,.3);
}
.footer__nav {
	padding: 0 15px;
	display:-ms-flexbox; 
	display: flex;
	justify-content: space-between;
	list-style: none;
	flex-grow: .41;
}
.footer__nav .nav__link {
	font-size: 1.25em;
}
.footer__nav .nav__link:hover {color: var(--accent-color);}

.footer__nav .nav__link:before{content: none;}

.footer__develop {
	padding: 0 15px;
	font-size: 12px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	flex-shrink: 0;
}
.develop__link {
	font-weight: 700;
	font-size: 1.1em;
}
.develop__link:hover{color: var(--accent-color);}